body{
    background-color: #3b804c;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    padding: 0 44px;
}


    .imagem1{
        width: 700px;

    }
   
.linha1{
    color: #ffffff;
    font-size: 20px;
}

  .imagem2{
    width: 600px;
  }
  

.linha2{
    color: #ffffff;
    font-size: 10px;
}


.texto_um{
    color: #ffffff;
    font-size: 24px;
}



.rodape{
    text-align: center;
    display: grid;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

